<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main2.css" rel="stylesheet">
	<style type="text/css">		
		.alert{width:90%;margin-left:2.5%;margin-bottom:0;margin-top:20px;}
	</style>
	
	
</head>

<body onload="setTimeOut();">	
	<div class="content">
		<h1>项目管理</h1>
		<h2>当前位置：系统管理 / <span>项目管理</span></h2>
		<div class="report common tableB">
			<h5>
				项目列表
				<input type="button" value="新 增" class="downLoad" onclick="iframe('System/new_project')">
			</h5>		
		<div class="row-fluid">
			{%- with messages = get_flashed_messages(with_categories=true) %}
			  	{%- if messages %}
		    	{%- for category, message in messages %}
		    	<div class="alert alert-{{category}}">
		      		{{message}}
		      	</div>
		    	{%- endfor %}
			  	{%- endif %}
			{%- endwith %}
			<div class="wdlb">
				<table class="center">
					<tr>
						<th><input type="checkbox" name="" onclick="checkAll(this,'checkbox')"/></th>
						<th>编号</th>
						<th>项目名称</th>
						<th>负责人</th>
						<th>审批金额</th>
						<th>操作</th>
					</tr>
					{%- for obj in projects.items %}
					<tr>
						<td><input type="checkbox" onclick="changeColor(this)" name="checkbox"/></td>
						<td>{{obj.id}}</td>							
						<td>{{obj.project_name}}</td>
						<td>{{obj.oa_project_ibfk_4.real_name}}</td>
						<td>{{obj.amount}}</td>
						<td>
							<input type="button" class="edit" onclick="iframe('System/edit_project/{{obj.id}}')" value="编辑"/>
						</td>
					</tr>	
					{%- endfor %}		
				</table>
				<div class="page-div">
					{%- if projects.has_prev %}
						<span style="CURSOR: pointer" onclick="iframe('System/project/{{projects.prev_num}}')">&lt;&lt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&lt;&lt;</span>
					{%- endif %}
					&#160;第&#160;<font color="#0088cc">{{projects.page}}</font>&#160;页&#160;
					&#160;共&#160;<font color="#0088cc">{{projects.pages}}</font>&#160;页&#160;
					{%- if projects.has_next %}
						<span style="CURSOR: pointer" onclick="iframe('System/project/{{projects.next_num}}')">&gt;&gt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&gt;&gt;</span>
					{%- endif %}
				</div>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/main2.js"></script>
	<script src="/static/js/script.js"></script>
	
</body>
</html>
