<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>OA管理系统</title>	
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	
	<link href="../static/css/index2.css" rel="stylesheet">
	<link href="../static/css/main2.css" rel="stylesheet">
		
	<style type="text/css">	
		#text{background:rgba(0,0,0,0.5);width:100%;height:100%;position:fixed;top:0;z-index:1000000;display:none;}
		.topDiv{background:#fff;width:800px;height:550px;margin:0 auto;margin-top:50px;}
	</style>
</head>
<body>
	<!--**********************************************顶部*********************************************************-->
	<div class="top">
		<div class="userMenu">
			<img src="../static/img/user/01.png"/>
			<span>&nbsp;{{current_user.real_name}}</span>
			<div class="slowDown">
				<img src="../static/img/slowDown.png" class="boxJ"/>
				<ul>
					<!-- <li><i class="gr"></i><a href="javascript:void(0);">个人资料</a></li> -->
					<li onclick="changeiframe('change_password/{{current_user.id}}');"><i class="gm"></i><a href="javascript:void(0);">修改密码</a></li>
					<li onclick="iframe('logout')"><i class="dc"></i><a>注销</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--**********************************************左侧导航**********************************************-->
	<div class="left">
		<div class="logo" onclick="iframe('welcome')">
			<a href="#"><img src="../static/img/logo.png" alt=""></a>
		</div>			
		<ul class="nav">
		{%- for obj in privileges %}
		<!--***************************报销管理*******************************-->
			{%- if obj.privilege_access_value == "bxgl" and obj.privilege_operation != "0" %}
			<li title="报销管理"
				{%- if menu == "xxgl"%}
					class="menu-list active"
				{%- elif menu == "dsp"%}
					class="menu-list active"
				{%- else -%}
					class="menu-list"
				{%- endif %}
				onclick="showMenu(this)">
				<a href="javascript:void(0);"><i class="icon bx"></i>报销管理<i class="pull-right"></i></a>						
				<ul id="xxgl" 
					{%- if menu != "xxgl" and menu != "dsp" %}
						 class="second-nav hidden"
					{%- else -%}
						class="second-nav"
					{%- endif %}
					>					
				{%- for obj in privileges %}
					{%- if obj.privilege_access_value == "xzfy" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('xzfy/new_xzfy');checkSecond(this,event);" id="xzfy" 
						{%- if menu == "xxgl"%}
							class="second-active"
						{%- endif %}									
						>
						<a href="javascript:void(0);">新增费用</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "grcx" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('grcx/grcx_search');checkSecond(this,event);" id="grcx">
						<a href="javascript:void(0);">个人查询</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "fysp" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('fysp/fysp_search');checkSecond(this,event);" id="fysp" 
						{%- if menu == "dsp"%}
							class="second-active"
						{%- endif %}									
						>
						<a href="javascript:void(0);">费用审批</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "fytj" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('fytj/fytj_search');checkSecond(this,event);" id="fytj">
						<a href="javascript:void(0);">费用统计</a>
					</li>
					{%- endif %}
				{%- endfor %}
					{%- if userId==2 or userId==146%}
					<li onclick="changeiframe('fysp/fyzf_search');checkSecond(this,event);" id="fyzf">
						<a href="javascript:void(0);">费用支付</a>
					</li>
					{%- endif %}
				</ul>
			</li>
			{%- endif %}	
			
		<!--***************************系统管理*******************************-->
			{%- if obj.privilege_access_value == "xtgl" and obj.privilege_operation != "0" %}
			<li title="系统管理"
					{%- if menu == "xtgl"%}
						class="menu-list active"
					{%- else -%}
						class="menu-list"
					{%- endif %}
					onclick="showMenu(this)">
				<a href="javascript:void(0);"><i class="icon xt"></i>系统管理<i class="pull-right"></i></a>						
				<ul id="xtgl" 
					{%- if menu != "xtgl"%}
						class="second-nav hidden"
					{%- else -%}
						class="second-nav"
					{%- endif %}
					>
				<!-- 系统管理员 -->
				{%- for obj in privileges %}
					{%- if obj.privilege_access_value == "sygl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/reason/1');checkSecond(this,event)" id="sygl"
						{%- if menu == "xtgl"%}
							class="second-active"
						{%- endif %}
						>
						<a href="javascript:void(0);">事由管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "zwgl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/job/1');checkSecond(this,event)" id="zwgl">
						<a href="javascript:void(0);">职位管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "khgl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/customer/1');checkSecond(this,event)" id="khgl">
						<a href="javascript:void(0);">客户管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "mkgl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/menu');checkSecond(this,event)" id="mkgl">
						<a href="javascript:void(0);">模块管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "jggl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/jggl');checkSecond(this,event)" id="jggl" >
						<a href="javascript:void(0);">部门管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "xmgl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/project/1');checkSecond(this,event)" id="xmgl">
						<a href="javascript:void(0);">项目管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "xmzgl" and obj.privilege_operation != "0" %}
					<li onclick="changeiframe('System/group');checkSecond(this,event)" id="xmzgl">
						<a href="javascript:void(0);">项目组管理</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "yhgl" and obj.privilege_operation != "0" %}			
					<li onclick="changeiframe('System/user/1');checkSecond(this,event)" id="yhgl" >
						<a href="javascript:void(0);">用户管理</a>
					</li>	
					{%- endif %}
					{%- if obj.privilege_access_value == "jsqxgl" and obj.privilege_operation != "0" %}	
					<li onclick="changeiframe('System/jsqxgl/1');checkSecond(this,event)" id="jsqxgl" >
						<a href="javascript:void(0);">角色权限管理</a>
					</li>
					{%- endif %}
				{%- endfor %}
				</ul>
			</li>
			{%- endif %}	

		<!--***************************文档管理*******************************-->			
			{%- if obj.privilege_access_value == "Wdgl" and obj.privilege_operation != "0" %}
			<li title="文档管理"
				{%- if menu == "Wdgl"%}
					class="menu-list active"
				{%- else -%}
					class="menu-list"
				{%- endif %}
				onclick="showMenu(this)">
				<a href="javascript:void(0);"><i class="icon wd"></i>文档管理<i class="pull-right"></i></a>
				<ul id="Wdgl" 
					{%- if menu != "Wdgl" %}
						class="second-nav hidden"
					{%- else -%}
						class="second-nav"
					{%- endif %}
					>
				{%- for obj in privileges %}
					{%- if obj.privilege_access_value == "wdgl" and obj.privilege_operation != "0" %}				
					<li onclick="changeiframe('wdgl/wdgl');checkSecond(this,event)" id="wdgl"
						{%- if menu == "Wdgl"%}
							class="second-active"
						{%- endif %}
						>
						<a href="javascript:void(0);">文档管理</a>
					</li>
					{%- endif %}
				{%- endfor %}
				</ul>
			</li>
			{%- endif %}
			
		<!--***************************项目管理*******************************-->
			{%- if obj.privilege_access_value == "xmgl" and obj.privilege_operation != "0" %}		
			<li title="项目管理"  
					{%- if menu == "xmgl"%}
						class="menu-list active"
					{%- else -%}
						class="menu-list"
					{%- endif %}
					onclick="showMenu(this)">
				<a href="javascript:void(0);"><i class="icon xm"></i>项目管理<i class="pull-right"></i></a>
				<ul id="Xmgl"
					{%- if menu != "xmgl" %}
						class="second-nav hidden"
					{%- else -%}
						class="second-nav"
					{%- endif %}
					>
				
				{%- for obj in privileges %}
					{%- if obj.privilege_access_value == "grxm" and obj.privilege_operation != "0" %}			
					<li onclick="changeiframe('xmgl/grxm');checkSecond(this,event)" id="grxm"
						{%- if menu == "xmgl"%}
							class="second-active"
						{%- endif %}
						>
						<a href="javascript:void(0);">个人项目</a>
					</li>
					{%- endif %}
					{%- if obj.privilege_access_value == "glxm" and obj.privilege_operation != "0" %}	
					<li onclick="changeiframe('xmgl/glxm');checkSecond(this,event)" id="glxm" >
						<a href="javascript:void(0);">管理项目</a>
					</li>
					{%- endif %}
				{%- endfor %}
				</ul>
			</li>	
			{%- endif %}
			
		<!--***************************统计报表*******************************-->
			{%- if obj.privilege_access_value == "Tjbb" and obj.privilege_operation != "0" %}
			<li title="统计报表"
					{%- if menu == "Tjbb"%}
						class="menu-list active"
					{%- else -%}
						class="menu-list"
					{%- endif %}
					onclick="showMenu(this)">
				<a href="javascript:void(0);"><i class="icon tj"></i>统计报表<i class="pull-right"></i></a>
				<ul id="Tjbb"
					{%- if menu != "Tjbb" %}
						class="second-nav hidden"
					{%- else -%}
						class="second-nav"
					{%- endif %}
					>
					{%- for obj in privileges %}
					{%- if obj.privilege_access_value == "ndfytj" and obj.privilege_operation != "0" %}		
					<li onclick="changeiframe('tjbb/ndfytj_search');checkSecond(this,event)" id="ndfytj"
						{%- if menu == "Tjbb"%}
							class="second-active"
						{%- endif %}
						>
						<a href="javascript:void(0);">年度费用统计</a>
					</li>
					{%- endif%}
					{%- if obj.privilege_access_value == "ydbmtj" and obj.privilege_operation != "0" %}	
					<li onclick="changeiframe('tjbb/ydbmtj_search');checkSecond(this,event)" id="ydbmtj">
						<a href="javascript:void(0);">部门费用开支(月)</a>
					</li>
					{%- endif%}
					{%- if obj.privilege_access_value == "ydgstj" and obj.privilege_operation != "0" %}	
					<li onclick="changeiframe('tjbb/ydgstj_search');checkSecond(this,event)" id="ydgstj">
						<a href="javascript:void(0);">公司费用开支(月)</a>
					</li>
					{%- endif%}
					{%- if obj.privilege_access_value == "jdbmtj" and obj.privilege_operation != "0" %}	
					<li onclick="changeiframe('tjbb/jdbmtj_search');checkSecond(this,event)" id="jdbmtj">
						<a href="javascript:void(0);">部门费用开支(季)</a>
					</li>
					{%- endif%}
					{%- if obj.privilege_access_value == "jdgstj" and obj.privilege_operation != "0" %}	
					<li onclick="changeiframe('tjbb/jdgstj_search');checkSecond(this,event)" id="jdgstj">
						<a href="javascript:void(0);">公司费用开支(季)</a>
					</li>
					{%- endif%}
					{%- endfor %}
				</ul>
			</li>
			{%- endif %}			
		{%- endfor %}	
		</ul>			
	</div>	
	<!--**********************右侧页面*********************-->
	<div class="bottom">
		<iframe frameborder="0" 
			{%- if menu == "xxgl" %}
				src="xzfy/new_xzfy"
			{%- elif menu == "dsp" %}
				src="fysp/fysp_total"
			{%- elif menu == "Wdgl" %}
				src="wdgl/wdgl"
			{%- elif menu == "xtgl" %}
				src="System/reason/1"						
			{%- elif menu == "xmgl" %}
				src="xmgl/grxm"
			{%- elif menu == "Tjbb" %}
				src="tjbb/ndfytj_search"
			{%- endif %}
		width="100%" id="content_frame" name="content_frame" marginheight="0" marginwidth="0" height="100%"></iframe>
		
	</div><!--/bottom-->
	
	<div id="text">	
		
	</div>
	<script src="../static/js/jquery-1.7.2.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/index2.js"></script>
	<script type="text/javascript">
		
	</script>	
</body>
</html>