<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../static/css/index2.css" rel="stylesheet">
	<link href="../static/css/main2.css" rel="stylesheet">
	<style type="text/css">  
		.divNav{border:1px solid #dedede;border-radius:5px;box-shadow:2px 2px 5px #dedede;text-align:center;width:18.2%;display:inline-block;float:left;margin-right:1.5%;padding-top:20px;padding-bottom:20px;margin-bottom:15px;font:16px "Microsoft YaHei";color:#fff;}
		.bxgl{background:#a678e4;}
		.xtgl{background:#6a78ff;}
		.xmgl{background:#5dccd7;}
		.wdgl{background:#71d8ad;}
		.tjbb{background:#f29454;}
		.divNav img{height:60px;}
		.bottom{overflow:auto;}
		.bottom::-webkit-scrollbar{width:5px;height:10px;}/*滚动条尺寸*/
		.bottom::-webkit-scrollbar-button{display:none;}
		.bottom::-webkit-scrollbar-track{background:#424f63;}/*滚动条背景*/
		.bottom::-webkit-scrollbar-thumb{background:#65cea7;}/*滚动条*/
	</style>
</head>

<body>	
	<!--**********************************************顶部*********************************************************-->
	<div class="top">
		<div class="userMenu" onclick="dropDown()">
			<img src="../static/img/user/01.png"/>
			<span>&nbsp;{{current_user.real_name}}</span>
			<div class="slowDown">
				<img src="../static/img/slowDown.png" class="boxJ"/>
				<ul>
					<li><i class="gr"></i><a href="javascript:void(0);">个人资料</a></li>
					<li onclick="$('#content').hide();$('#content_frame').show();"><i class="gm"></i><a href="javascript:void(0);">修改密码</a></li>
					<li onclick="iframe('logout')"><i class="dc"></i><a>注销</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--**********************************************左侧*********************************************************-->
	<div class="left">
		<div class="logo">
            <a href="#"><img src="../static/img/logo.png" alt=""></a>
        </div>
		<ul class="nav">
			<li class="active">
				<a><img src="../static/img/user/user.png" style="margin-right:5px;margin-top:-2px;"/>用户信息</a>
				<img src="../static/img/user/01.png" style="width:100%;border-radius:10px;"/>
				<ul class="second-nav">
					<li>
						<a>用户名：{{current_user.login_name}}</a>
					</li>
					<li>
						<a>真实姓名：{{current_user.real_name}}</a>
					</li> 					
					<li>
						{%- if current_user.sex == '1' %}
							<a>性别：男</a>
						{%- else %}
							<a>性别：女</a>
						{%- endif %}  
					</li>  
				</ul>
			</li>
		</ul>
	</div>
	
	<!--<div class="container-fluid" style="margin:60px auto 50px;" >
		<div class="row-fluid" style="*margin-top:60px;">
			<div class="span3">
				
				<div class="well sidebar-nav" id="leftmenu">				
					
				</div><!--/.well -->						
			<!--</div><!--/span-->
<!--**************************************************content***********************************************-->
			<div class="bottom">				
				<div id="content" class="content">
					<h1>首页</h1>
					<h2>当前位置：<span>首页</span></h2>
					{%- with messages = get_flashed_messages(with_categories=true) %}
					  	{%- if messages %}
				    	{%- for category, message in messages %}
				    	<div class="alert alert-{{category}}">
				      		{{message}}
				      	</div>
				    	{%- endfor %}
					  	{%- endif %}
					{%- endwith %}		
					<div class="row-fluid">
						<div class="span12">
						{%- for obj in privileges %}
							{%- if obj.privilege_access_value == "bxgl" and obj.privilege_operation != "0" %}
							<a href="xxgl">
								<div class="divNav bxgl">
									<img src="/static/img/10.png"/><br/>
									报销管理
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "Wdgl" and obj.privilege_operation != "0" %}
							<a href="Wdgl">
								<div class="divNav wdgl">
									<img src="/static/img/13.png"/><br/>
									文档管理
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "xmgl" and obj.privilege_operation != "0" %}
							<a href="xmgl">
								<div class="divNav xmgl">
									<img src="/static/img/12.png"/><br/>
									项目管理
								</div>
							</a>
							{%- endif %}
							{%- if obj.privilege_access_value == "Tjbb" and obj.privilege_operation != "0" %}
							<a href="Tjbb">
								<div class="divNav tjbb">
									<img src="/static/img/14.png"/><br/>
									统计报表
								</div>
							</a>
							{%- endif %}							
							{%- if obj.privilege_access_value == "xtgl" and obj.privilege_operation != "0" %}
							<a href="xtgl">
								<div class="divNav xtgl">
									<img src="/static/img/11.png"/><br/>
									系统管理
								</div>
							</a>
							{%- endif %}
						{%- endfor %}	
						</div>						
					</div><!--/row-fluid -->
				<!--****************************待办事项********************************-->
					<div class="report">
						<h5>待办事项</h5>
						<table>
							<tr>
								<th>待办事项项目</th>
								<th>项目数</th>
							</tr>
							<tr>
								<td>您待审批的报销</td>
								<td>{{count_1}}</td>
							</tr>
							{%- for obj in privileges %}
								{%- if obj.privilege_access_value == "fysp" and obj.privilege_operation != "0" %}
								<tr>
									<td>等待您审批的报销</td>
										{%- if count_2==0 %}
											<td>{{count_2}}</td>
										{%- else%}
											<td><a href="dsp">{{count_2}}</a></td>
										{%- endif %}
								</tr>		
								{%- endif %}
							{%- endfor %}	
						</table>
					</div>
				<!--****************************统计********************************-->
				{%- for obj in privileges %}
					{%- if obj.privilege_access_value == "fytj" and obj.privilege_operation != "0" %}
					<div class="report">
						<h5>统计</h5>						
						<table>
							<tr>
								<th>负责部门或项目</th>
								<th>当前申请总额</th>
								<th>当前付款总额</th>
								<th>本月付款金额</th>
								<th>本季度付款金额</th>
							</tr>
							{%- for obj in result %}
							<tr>
								<td>{{obj.name}}</td>
								<td>{{obj.total_apply}}</td>
								<td>{{obj.total_paid}}</td>
								<td>{{obj.monthly}}</td>
								<td>{{obj.season}}</td>
							</tr>	
							{%- endfor %}	
						</table>
					</div>
					{%- endif %}
				{%- endfor %}	
				</div><!--/content -->
				<iframe frameborder="0" width="100%" height="100%" id="content_frame" src="change_password/{{current_user.id}}" style="display:none;"></iframe>
			</div><!--/span-->
		</div><!--/row-->		
    </div><!--/.fluid-container-->		
<!--**************************************************foot***********************************************-->
	<div class="footer">
		<p class="pull-center">@ 2013 CardPay (Shanghai) Info Tech Co.,Ltd</p>
		<span id="date" class="pull-right"></span>
	</div>	
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script type="text/javascript">
	
    </script>
</body>
</html>
