<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>OA管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main2.css" rel="stylesheet">
	<style type="text/css">		
		.alert{width:90%;margin-left:2.5%;margin-bottom:0;margin-top:20px;}
	</style>
	
	
</head>

<body onload="setTimeOut();">	
	<div class="content">		
		<h1>事由管理</h1>
		<h2>当前位置：系统管理 / <span>事由管理</span></h2>	
		<div class="report common tableB">
			<h5>
				事由列表
				<input type="button" value="新 增" class="downLoad" onclick="iframe('System/new_reason')">
			</h5>
			{%- with messages = get_flashed_messages(with_categories=true) %}
			  	{%- if messages %}
		    	{%- for category, message in messages %}
		    	<div class="alert alert-{{category}}">
		      		{{message}}
		      	</div>
		    	{%- endfor %}
			  	{%- endif %}
			{%- endwith %}
			<div class="wdlb">				
				<table class="center" >
					<tr>
						<th><input type="checkbox" name="" onclick="checkAll(this,'checkbox')"/></th> 
						<!-- <th><input type="button" class="btn btn-info btn-mini" value="反选" style="margin:0;" onclick="ChkAllClick()"/></th> -->
						<th>编号</th>
						<th>事由名称</th>
						<th>操作</th>
					</tr>
					{%- for obj in reasons.items %}
					<tr>
						<td><input type="checkbox" onclick="changeColor(this)" name="checkbox"/></td>
						<td>{{obj.id}}</td>							
						<td>{{obj.reason_name}}</td>
						<td>
							<input type="button" class="edit" onclick="iframe('System/edit_reason/{{obj.id}}')" value="编辑"/>
						</td>
					</tr>	
					{%- endfor %}	
				</table>
				
				<div class="page-div">
					{%- if reasons.has_prev %}
						<span style="CURSOR: pointer" onclick="iframe('System/reason/{{reasons.prev_num}}')">&lt;&lt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&lt;&lt;</span>
					{%- endif %}
					&#160;第&#160;<font color="#0088cc">{{reasons.page}}</font>&#160;页&#160;
					&#160;共&#160;<font color="#0088cc">{{reasons.pages}}</font>&#160;页&#160;
					{%- if reasons.has_next %}
						<span style="CURSOR: pointer" onclick="iframe('System/reason/{{reasons.next_num}}')">&gt;&gt;</span>
					{%- else %}
						<span style="CURSOR: pointer">&gt;&gt;</span>
					{%- endif %}
				</div>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/main2.js"></script>
	<script src="/static/js/script.js"></script>
	
</body>
</html>
